@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    
    align-items: center;
    justify-content: center;
}

section {
    position: relative;
    background: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 500px;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.fundo {
    position: absolute;
    background-image: url(../imagens/foto-dia.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    margin: 20px auto 0px auto;
    padding: 10px;
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 10px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;

}

.relogio span.tempo {
    font-size: 10px;
}